@import "tailwindcss";

html,body {
  margin: 0;
  padding: 0;
  font-family: "space Grotsek", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;

}

@layer utilities{
  @keyframes loading {
    0%{
      transform: translate(-100%);
    }
    100%{
      transform: translate(250%);
    }
  }

  .animate-loading-bar{
    animation: loading 0.8s ease infinite;
  }
}